.chat-main {
    width: 30%;
    min-height: 100%;
    background: #f1f1f1;
}

.chat-head {
    background-color: #5b7ca5;
    height: 6%;
}

.chat-head > * > span,
.chat-footer > * > span {
    display: inline-block;
    text-align: center;
    margin: 5px 0;
}

.chat-head-left,
.chat-footer-left {
    position: relative;
    width: 70%;
}

.chat-head-right,
.chat-footer-right {
    width: 30%;
}

.chat-footer {
    width: 100%;
    background-color: #5b7ca5;
    height: 6%;
}

.chat-messages {
    height: 88%;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

.chat-one-message {
    width: 70%;
    left: 0;
    background-color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.chat-one-message-my {
    left: 20%;
    position: relative;
    text-align: right;
    align-self: end;
    background-color: #8ac2ff;
}

.chat-message-user {
    font-size: small;
    color: blue;
    padding: 0 5px;
    width: max-content;
    cursor: pointer;
}

.chat-message-text {
    padding: 5px 5px;
}



