.not-found {
    text-align: center;
    font-size: 70px;
    margin: 5% 7%;
    background: url("../../public/images/fire.jpg");
    background-size: contain;
    border-radius: 70px;
    transition: background 2s ease;
}
.not-found:hover {
    background: url("../../public/images/rain.jpg");
}
.not-found > a {
    padding: 50px 0;
}

