.page-not-found {
    text-align: center;
}

.page-not-found > a {
    background-image: url("../../public/images/404.png");
    height: 500px;
    width: 900px;
    display: inline-block;
    margin: 50px;
}


.department-not-found {
    text-align: center;
    font-size: 70px;
    margin: 5% 7%;
    background-image: url("../../public/images/fire.jpg");
    background-size: contain;
    border-radius: 70px;
}

.department-not-found:hover {
    background-image: url("../../public/images/rain.jpg");
}



.department-not-found > a {
    padding: 50px 0;
}

