
.not-found {
    text-align: center;
    font-size: 70px;
    margin: 5% 7%;
    background-image: url("../../public/images/fire.jpg");
    background-size: contain;
    border-radius: 70px;
    transition: 2s;
}

.not-found:hover {
    background-image: url("../../public/images/rain.jpg");
}



.not-found > a {
    padding: 50px 0;
}

