<html lang="en">

<head>
    <%- include('Header') %>
    <style>
        img {
            max-width: 100%;
            display: block;
            margin: 0 auto;
            border: solid red;
        }
        button {
            width: 100%;
        }

    </style>
</head>
<body >
<div >
        <img src="https://pugofka.com/upload/iblock/bb0/404_error.png">
        <button class="btn btn-secondary"
                onclick="window.location.href = '/departments'">Back
        </button>
</div>
</body>



</html>
