<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<title>Document</title>
<style>
    [tooltip]:before {
        position: absolute;
        content: attr(tooltip);
        opacity: 1;
        color: black;
        background: rgba(128,128,250,0.9);
        width: 12%;
    }

    [tooltip]:hover:before {
        opacity: 1;
    }

    .logout{
        right: 0;
        position: absolute;
        width: 10%;
        background-color: darkgray;
    }
</style>
