<html lang="en">
<head>
    <%- include('Header') %>
</head>
<body>

<button class="btn btn-default"
        style="
            right: 0;
            position: absolute;
            width: 10%;
            background-color: darkgray;"
        onclick="window.location.href = '/logout'">Logout
</button>

<div class="container">
    <table class="table table-striped">
        <tr>
            <form method="post">
                <td>
                    <% if(error.email) { %>
                        <input type="text" name="email" value="<%= error.email %>" placeholder="email">
                    <% } else  { %>
                        <input type="text" name="email" placeholder="email">
                    <% } %>
                    <% if(error.message.email) { %>
                        <div tooltip="<%= error.message.email %>"></div>
                    <% } %>
                </td>
                <td>
                    <input type="text" name="password" placeholder="password">
                </td>
                <td>
                    <input type="submit" formaction="/guest/login" class="btn btn-default" name="button"
                           value="Login">
                    <input type="submit" formaction="/guest/registration" class="btn btn-default" name="button"
                           value="Registration">
                </td>
            </form>
        </tr>
    </table>
</div>

</body>
</html>
